[submodule "asciidoctor-backends"]
	path = asciidoctor-backends
	url = https://github.com/asciidoctor/asciidoctor-backends.git
[submodule "dzslides"]
	path = dzslides
	url = https://github.com/mojavelinux/dzslides.git
[submodule "metrics"]
	path = metrics
	url = https://github.com/astefanutti/metrics-cdi
[submodule "camel"]
	path = camel
	url = https://github.com/astefanutti/camel-cdi.git
