[submodule "asciidoctor-backends"]
	path = asciidoctor-backends
	url = https://github.com/asciidoctor/asciidoctor-backends.git
[submodule "dzslides"]
	path = dzslides
	url = https://github.com/astefanutti/dzslides.git
