/* Text size */
.smaller {
    font-size: .8em;
}

.smallest {
    font-size: .7em;
}

ol.loweralpha {
    font-size: 0.9em;
}

ol.lowerroman {
    font-size: 0.9em;
}

/* Text decoration */
.highlight {
    background-color: #ffff00;
}

.line-through {
    text-decoration: line-through;
}

/* Code blocks and literals */
section *:not(pre) > code {
    font-family: 'Ubuntu Mono', monospace;
}

section pre code, section pre.literal {
    font-family: 'Ubuntu Mono', monospace;
}

/* Override highlight.js annotations style */
.hljs-meta {
    color: inherit;
    font-weight: normal;
}

/* Brighter introduction text */
section.intro p {
    color: #555555;
}

/* Turn text transformation off */
section.intro h1,
section.intro h2 {
    text-transform: none !important;
}

section.recap > h1,
section.recap > h2 {
    text-transform: none !important;
}

section.recap hgroup h2 {
    text-transform: none;
}

section.recap hgroup h3 {
    text-transform: none !important;
}

section.ending > h2 {
    text-transform: none !important;
}

/* Fancy line-through in recap title */
section.recap .line-through:after {
    content:" ";
    height:0.2em;
    width:90%;
    background-color:#FFFF00;
    opacity: 0.8;
    position:absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}